* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.product {
    border: 5px solid black;
    width: 825px;
    margin: 50px auto;
}

.product-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    background: #f7f7f7;
    padding: 15px;
}

.details-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.price {
    font-size: 24px;
}

.shipping {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
}

.details-list {
    list-style-type: square;
    margin: 10px 20px;
}

.details-list li {
    margin-bottom: 10px;
}

/* The order for <a> as below Link Visited Hover Active */
.more-info:link, .more-info:visited {
    color: #000;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}

.add-cart-btn {
    border: none;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 5px solid #000;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #000;
}