/* Lowest priority for this universal (*) selector - and can be overridden by anything
  * {
  margin: 0;
  padding: 0;
  border-top: 10px solid #1098ad; => No inheritance involved - applied to all the elements 
  }
*/

* {
  /* Global reset */
  margin: 0;
  padding: 0;
}

/* Inherited to all the children elements */
body { 
  /* Inheritance has the least priority so if some element has set different color/font own their own below, this inheritance will be overridden */
  font-family: sans-serif;
  color: #444;

  /* For some properties like the border/margin will not get inherited from a single parent like (body, head, h1). To get that result use * Universal selector*/
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; 
  /* top-bottom, right-left */
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    /* height: 80px; */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
  font-style: italic;
}

li:first-child {
  font-weight: bold;
}

/* footer  p {
    font-size: 16px;
} */

/* article > header > p {
    font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* body {
    background-color: orangered;
} */


li:nth-child(even) {
  /* color: red; */
}

/* article p:last-child {
  color: red;
}
  That <p> should be the last child inside article then only this will work (Will work here),
  for article p:first-child we need a <p> child right after <article> to make that work.
*/

/* Anchor tags with href => :link */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* General every <a> text </a> => even without href="" */
a {
  color: red;
  /* This will not get applied even this is defined lastly - because, (:) has more priority */
}

a:visited {
  /* color: #777; 
  Professional websites keeps the original color for better UX*/
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
   text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* The Order is important [ LVHA -> Love-Hate]
  :link -> :visited -> :hover -> :active
*/

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

/* Resolving Conflicts */

/* 
#copyright {
  color: red;
} // This will be set because of the priority

.copyright {
  color: blue;
}

.text {
  color: yellow;
} // If there is no styling for that id - this lastly defined class will be applied

footer p {
 / Element selector has the least priority - inOrder to have this effect - we shouldn't have ID or Class
  color: green;
 
  color: green !important;
  / Due to !important -> This will get applied over ID,
  But this is not a good practice -> Used only when no other options
} 
*/


.post-img {
  width: 100%;
  height: auto;
}