body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 400px;
    width: 400px;
    background-color: #00f;
}

#rgba {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: rgba(255, 255, 255, 0); */

    /* background-color: #ffffff4d; Same in hexadecimal < rgba */
}

#opacity {
    height: 50%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.30;
    /* opacity: 0; */
}