* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.clearfix::after {
    /* This whole class properties should be used to give height to the container,
    because when we use - float the height of the child element will be collapsed to 0*/
    content: '';
    display: block;
    clear: both;
}

.container {
    /* background-color: red; */
}

.product {
    border: 5px solid black;
    width: 825px;
    margin: 50px auto;
}

.product-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    background: #f7f7f7;
    padding: 15px;
    position: relative;
}

.product-title::before {
    content: "SALE";
    background-color: #eb5454;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    top: -20px;
    left: -45px;
}

.details-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
}

.shipping {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
    float: right;
    margin-top: 14px;
}

.details-list {
    list-style-type: square;
    margin: 10px 20px;
}

.details-list li {
    margin-bottom: 10px;
}

/* The order for <a> as below Link Visited Hover Active */
.more-info:link, .more-info:visited {
    color: #000;
    display: inline-block;
    margin-bottom: 30px;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.black-box {
    background-color: #000;
}

.blue-box {
    background-color: blue;
}

.red-box {
    background-color: #ff1818;
}

.yellow-box {
    background-color: #ffd000;
}

.green-box {
    background-color: #01a40e;
}

.brown-box {
    background-color: #6a1111;
    margin-right: 0;
}

.add-cart-btn {
    border: none;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 5px solid #000;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #000;
}

.product-img {
    float: left;
    margin-right: 40px;
}

.product-info {
    float: left;
    margin-top: 10px;
    margin-right: 40px;
    width: 243px;
}

.product-details {
    float: left;
    width: 243px;
    margin-top: 20px;
}

.product-description {
    clear: both;
    margin-bottom: 10px;
}