* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#img-container {
    width: 500px;
    border: 2px solid #c6c6c6;
}

.figure-caption {
    text-align: left;
    padding-left: 15px;
    font-weight: 800;
}

#content-container {
    text-align: left;
    margin-top: 10px;
    border: 2px solid #c6c6c6;
    padding: 0 0 20px 20px;
}

#target-container {
    display: flex;
    justify-content: left;
}

#buttons {
    display: flex;
    width: 500px;
}

#buttons button {
    flex: 1;
    border-radius: 0;
}