* {
    padding: 5px;
    font-family: monospace;
}

#container {
  width: 100%;
  text-align: center;
}

li {
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
}

ul {
    background-color: #c6c6c6;
    padding: 0;
}